<div class="j-page">
  <%= render "partials/subbar", title: "Login" %>

  <div class="form-wrap flex">
  <%= render "partials/msg" %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,  placeholder: "Email", class: "input"%>
      <%= f.password_field :password, autocomplete: "current-password",  placeholder: "Password", class: "input" %>
      <%= f.submit "Log in", class: "in" %>
  <% end %>
  <button class="forgot">Forgot password?</button>
  </div>
</div>

