<%= render "partials/header", title: "CATEGORIES" %>
<div>
    <% if @categories.empty? %>
      <p class="">It seems your category list is empty! </p>
      <%= link_to new_category_path do %>
        <button>Add Category</button>
      <% end %>
    <% else %>
        <div><span></span></div>
        <ul>
            <% @categories.each do |category| %>
              <li>
                <%= link_to(category_path(category)) do %>
                  <%= category.name%>
                <% end %>
              </li>
            <%end%>
        </ul>
        <%= link_to(new_category_path, class: '') do %>
          <button type="button">Add Category</button>
        <% end %>
    <% end %>
</div>