<%= render "partials/header", title: "CATEGORIES" %>
<%# <%= render "partials/subbar" %> %>

<div>
    <% if @categories.empty? %>
      <p class="">It seems your category list is empty! </p>
      <%= link_to new_category_path do %>
        <button>Add Category</button>
      <% end %>
    <% else %>
        <div><span></span></div>
        <ul>
            <% @categories.each do |category| %>
              <li>
                <%= link_to(category_path(category)) do %>
                <figure>
                  <img src="<%= category.icon %>" alt="icon">
                  <figcaption>
                    <h3><%= category.name %></h3>
                    <small><%= category.created_at.to_date.to_s %></small>
                  </figcaption>
                </figure>
                <h4 class="group-amount">
                <%= Transaction.total_amount(category.transactions) %>
                </h4>
                <%end%>
              </li>
            <%end%>
        </ul>
        <%= link_to(new_category_path, class: '') do %>
          <button type="button">Add Category</button>
        <% end %>
    <% end %>
</div>