<%= render "partials/header", title: @category.name %>
<div class="new-cat">

<%= render "partials/subbar", title: nil %>

<div>
    <div class="flex">
        <%if @transactions.empty?%>
            <span class="absent"> You don't have any transaction in this category!</span>
            <%= link_to(new_transaction_path, class: 'add-cat') do %>
            <button class="add" type="button">Add Transactions</button>
            <% end %>
        <% else %>
            <% @transactions.each do |transaction|%>
                <%= transaction.name%>
            <% end %>
            <div>
            <%= link_to(new_transaction_path, class: 'add-cat') do %>
                <button class="add" type="button">Add Transaction</button>
            <% end %>
    </div>
        <%end%>
    </div>
    
</div>
</div>
